@CHARSET "ISO-8859-1";

.fixedcontainer{
	
	  padding: 30px;
  max-width: 950px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: roboto;
   
       border: .5px solid rgba(0, 0, 0, 0.2);
}

.column1{
	background-color:green;
} 

.fixedcontainer1{  padding: 30px;
  max-width:550px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: roboto;
   
       border: .5px solid rgba(0, 0, 0, 0.2);
}


.fixedcontainer-2{  padding: 30px;
  max-width:790px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
 
  font-family: roboto;
   
       border: .5px solid rgba(0, 0, 0, 0.2);
}







.suggestioncontainer{  padding: 30px;
height:550px;
  max-width:600px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: roboto;
   
       border: .5px solid rgba(0, 0, 0, 0.2);
}
