@CHARSET "ISO-8859-1";

.fixedcontainer{
	
	  padding: 30px;
  max-width: 900px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
   border-radius: 6px;
}

.column1{
	background-color:green;
} 