@CHARSET "ISO-8859-1";

.paytabs_container{
	padding: 30px;
  max-width: 650px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;  
  overflow: hidden;
  font-family: roboto;
}