@CHARSET "ISO-8859-1";

.registerfield{
	
	padding: 30px;
  max-width: 700px;
  width: 100% !important;

  margin: 0 auto;
  border-radius: 2px;
  margin-right:0px;
  overflow: hidden;
  font-family: roboto;
padding-right:0px;

}
.registerfieldname{
	color:#323232;
	
	
  font-weight: lighter;
}
.errorMessage{
	color:red;
}